.hardik12{
    width:300px;
    height:300px;
    margin-bottom: 10px;
}

.hardiklogo{
    width: 100%;
    height: 50px;
    border-radius:50px;
}

.p1{
    font-size: 20px;
    color: black;
    font-family: Roboto,Ariel;
    font-size: 18px;
    font-weight: 650;
    width: 250px;
    height: 50px;
    margin-bottom:0;
    margin-top: 0;
    line-height: 25px; 
}

.p3,.p5{
    font-size: 20px;
    color: rgb(148, 145, 145);
    font-family: Roboto,Ariel;
    font-size: 15px;
    margin-bottom:0;
    margin-top:10px;
    width:250px;
    font-weight:500;
}

.hardik_logo{
    vertical-align: top;
    display:inline-block;
    width: 50px;
    margin-right:10px;
}

.hardik_video-info{
    display:inline-block;
    width: 100px;
    height:50px;
}

.Hardik{
    display: inline-block;
}


